:root {
    --border-width: 4px;
    --div-padding: 10px;
}

*:not(i) {
    user-select: none;
    pointer-events: none;
}

body {
    background-color: rgb(255, 199, 94);
}

body>*:not(div) {
    margin-left: 5px;
}

h2 {
    margin: 5px 0;
}

div>p {
    margin: var(--div-padding) 0 var(--div-padding) var(--div-padding);
}

i {
    margin: auto var(--div-padding) auto 4px;

    cursor: pointer;
    pointer-events: initial;
}

div.info {
    margin-right: var(--div-padding);
}

div.drop-down {
    position: relative;
    background-color: lightcoral;
    margin-bottom: var(--border-width);
    border: var(--border-width) solid darkred;
}

div:last-child:not(.section) {
    box-shadow: none !important;
}

div[data-invalid-count="0"] {
    background-color: lightgreen;
    border-color: green;
}

.section {
    max-width: 800px;
}

.drop-down[data-closed="true"]>.drop-down-data {
    display: none;
}

.drop-down[data-closed="false"]>div>i {
    transform: scaleY(-1);
}

.drop-down-data:not(p) {
    margin-left: var(--border-width);
}

.drop-down-data:not(.drop-down):not(p) {
    margin: auto;
}

.flex {
    display: flex;
}

h2 {
    margin-bottom: var(--div-padding);
    margin-left: var(--div-padding);
}

.flex>div,
.flex>h2 {
    width: 100%;
}